.Player {
  min-width: 240px;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 2rem;
  background-color: #ecf0f1;
}

.Player.dead {
  opacity: .5;
  transition: opacity .5s ease-in-out;
}

.Player-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 2rem;
}

.Player-life {
  width: 100%;
  padding: .25rem 0;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  color: #ecf0f1;
  background-color: #27ae60;
  transition: width .2s ease;
}

.Player-life.warning {
  background-color: #e67e22;
}

.Player-life.danger {
  background-color: #e74c3c;
}

.Player-sprite-1 {
  width: 64px;
  height: 64px;
  margin-left: auto;
  background-image: url("../img/player1.png");
}

.Player-sprite-2 {
  width: 64px;
  height: 64px;
  background-image: url("../img/player2.png");
}

.walk-right {
  animation: walk-right .8s steps(8) infinite;
}

.atack-right {
  animation: atack-right .8s steps(5) infinite;

  background-position: 0 -960px;
}

.walk-left {
  animation: walk-left .8s steps(8) infinite;
}

.atack-left {
  animation: atack-left .8s steps(5) infinite;
}

.dead {
  background-position: -330px -1286px;
  animation: dead .5s steps(5) 1;
}

@keyframes walk-left {
  from {
    background-position: 0 -580px;
  }

  to {
    background-position: -512px -580px;
  }
}

@keyframes atack-left {
  from {
    background-position: 0 -836px;
  }

  to {
    background-position: -320px -836px;
  }
}

@keyframes walk-right {
  from {
    background-position: 0 -706px;
  }

  to {
    background-position: -512px -706px;
  }
}

@keyframes atack-right {
  from {
    background-position: 0 -964px;
  }

  to {
    background-position: -320px -964px;
  }
}

@keyframes dead {
  from {
    background-position: 0px -1286px;
  }

  to {
    background-position: -330px -1286px;
  }
}
